<!-- Pre Page Content -->
<div id="pre-page-content">
    <h1><i class="glyphicon-dashboard themed-color"></i>Dashboard<br><small>Welcome <strong>Admin</strong>, everything looks good!</small></h1>
</div>
<!-- END Pre Page Content -->